@import "../../global.scss";

.register {
	width: 100vw;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightslategray;
	position: relative;

	.error {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255, 0, 0, 0.671);
		color: white;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;
	}

	.container {
		display: flex;
		align-items: center;
		background-color: white;
		border-radius: 10px;
		width: 80%;
		height: 90%;
		overflow: hidden;

		@include tablet {
			width: 90%;
		}

		@include mobile {
			width: 100%;
		}

		.left {
			flex: 1;
			background: url("../../../public/assets/bgRegister.webp") center;
			background-size: cover;
			height: 100%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: white;
			gap: 30px;

			@include mobile {
				display: none;
			}

			h2 {
				text-align: center;
			}

			p {
				font-weight: 500;
				text-align: justify;
			}
		}

		.right {
			flex: 1;
			height: 100%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #333;

			h2 {
				color: #23488d;
			}

			p {
				text-align: center;
				margin: 10px 0;
				font-weight: 600;
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 100%;

				.inputGroup {
					display: flex;
					flex-direction: column;

					.group {
						display: flex;
						align-items: center;

						i {
							cursor: pointer;
							color: #23488d;
							transition: all 0.5s ease-in-out;

							&:hover {
								transform: scale(1.04);
							}
						}
					}

					label {
						font-weight: bold;
						color: gray;
					}

					input {
						width: 100%;
						outline: none;
						border: none;
						border-bottom: 1px solid gray;
						font-weight: bold;
						font-size: 16px;

						&:focus {
							border-bottom: 2px solid #23488d;
						}
					}
				}

				button {
					border: none;
					padding: 8px;
					cursor: pointer;
					background-color: #23488d;
					color: white;
					border-radius: 5px;
					font-weight: bold;
					transition: all 0.5s ease-in-out;

					&:hover {
						transform: scale(1.02);
					}
				}
			}

			button {
				border: 1px solid lightgray;
				padding: 3px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 6px 0;
				gap: 10px;
				background-color: white;
				border-radius: 5px;
				font-weight: bold;
				transition: all 0.5s ease-in-out;

				&:hover {
					transform: scale(1.02);
				}

				img {
					width: 28px;
					height: 28px;
				}
			}
		}
	}
}
