.home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 70px);
	width: 100vw;

	.container {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 20px;

		h1 {
			color: teal;
		}
	}
}
