.forgotPassword {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: calc(100vh - 70px);
	position: relative;

	.error {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255, 0, 0, 0.671);
		color: white;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;
	}

	.success {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-color: green;
		color: white;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: white;
		border-radius: 10px;
		width: 80%;
		height: 80%;

		h2 {
			text-align: center;
			color: #23488d;
		}

		span {
			text-align: center;
			margin-bottom: 30px;
			margin-top: 20px;
			width: 70%;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;
			width: 300px;
			border: 1px solid gray;
			padding: 10px;
			border-radius: 10px;

			.inputGroup {
				display: flex;
				flex-direction: column;

				label {
					font-weight: bold;
					color: gray;
				}

				input {
					width: 100%;
					outline: none;
					border: none;
					border-bottom: 1px solid gray;
					font-weight: bold;
					font-size: 16px;

					&:focus {
						border-bottom: 2px solid #23488d;
					}
				}
			}

			button {
				border: none;
				padding: 8px;
				cursor: pointer;
				background-color: #23488d;
				color: white;
				border-radius: 5px;
				font-weight: bold;
				transition: all 0.5s ease-in-out;

				&:hover {
					transform: scale(1.02);
				}
			}
		}

		button {
			margin-top: 16px;
			border: none;
			cursor: pointer;
			padding: 8px;
			border-radius: 5px;
			font-weight: bold;
			transition: all 0.5s ease-in-out;

			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
