.resetPassword {
	width: 100vw;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.error {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255, 0, 0, 0.671);
		color: white;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;
	}

	.success {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-color: green;
		color: white;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: white;
		border-radius: 10px;
		width: 80%;
		height: 80%;

		h2 {
			color: #23488d;
		}

		span {
			margin-bottom: 30px;
			margin-top: 10px;
			text-align: center;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 10px;
			min-width: 270px;
			border: 1px solid gray;
			padding: 10px;
			border-radius: 10px;

			.inputGroup {
				display: flex;
				flex-direction: column;

				label {
					font-weight: bold;
					color: gray;
				}

				.group {
					display: flex;
					align-items: center;
					justify-content: space-between;

					i {
						cursor: pointer;
						color: #23488d;
						transition: all 0.5s ease-in-out;

						&:hover {
							transform: scale(1);
						}
					}
				}

				input {
					width: 100%;
					outline: none;
					border: none;
					border-bottom: 1px solid gray;
					font-weight: bold;
					font-size: 16px;

					&:focus {
						border-bottom: 2px solid #23488d;
					}
				}
			}

			button {
				border: none;
				padding: 8px;
				cursor: pointer;
				background-color: #23488d;
				color: white;
				border-radius: 5px;
				font-weight: bold;
				transition: all 0.5s ease-in-out;

				&:hover {
					transform: scale(1.02);
				}
			}
		}
	}
}
